.post-image {
  display: block;
  margin: 1rem auto;
  width: 200px;
  height: 200px;
}

.post-container {
color:black;
  border-radius: 15px;
  margin: 20px auto;
  max-width: 500px;
  background-color: white;
  /* position: relative; */
  top: 50%;
  /* left: 50%;
  transform: translate(-50%, -50%); */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.button{
  border-radius: 10px;
  border-width: 1px;
  background: none;

}

.tags{
  width: 471px;
  height: 57px;
  padding: 0 .75em 0 .75em;
  border-radius: 5px;
  border-width: 0.1px;
}