.index-page {
  display: block;
  margin: 0 auto;
  width: 60%;
  padding-top: 3rem;
}

.post-header{
  display: flex;
}

.post-card {
  display: block;
  margin: 2rem auto;
  width: 80%;
}

.is-liked {
  color: darkred;
}

.not-liked {
  color: grey;
}

.index-page{
  background-color: white;
  color: black;
}

.empty-page{
  color: black;
}

.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.content {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}

button {
  width: 100%;
}
