<div class="header">
  <a routerLink="/main" class="logo">Event <span>Map</span></a>

  <nav class="navbar">
      <a routerLink="/main">Home</a>
      <a routerLink="/login" *ngIf="!isLoggedIn">Login</a>
      <a routerLink="/landpage">Info</a>
  </nav>

  <div *ngIf="isLoggedIn" [matMenuTriggerFor]="menu" class="menu">
    <mat-icon color="accent">{{ user.username }} <img src="./../../../assets/img/user.ico"></mat-icon>
  </div>
  <mat-menu id="menu-item" #menu="matMenu">
    <button class="menu-button" mat-menu-item routerLink="/profile">Profile <img src="./../../../assets/img/users.svg"></button>
    <button class="menu-button" (click)="logout()" mat-menu-item>
      Logout <img src="./../../../assets/img/Logout.svg">
    </button>
  </mat-menu>

</div>
