<body class="test">
  <app-navigation></app-navigation>
  <div class="child">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">
    <div class="social">
            <a href="#"><img src="./../assets/img/unlock.svg" style="color: white;"></a>
            <a href="#"><img src="./../assets/img/upload-cloud.svg"></a>
            <a href="#"><img src="./../assets/img/users.svg"></a>
            <a href="#"><img src="./../assets/img/coffee.svg"></a>
    </div>

    <ul class="list">
        <li>
            <a href="#">FAQ</a>
        </li>
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a routerLink="/login">Login</a>
        </li>
        <li>
            <a href="#">Info</a>
        </li>
    </ul>

    <p class="copyright">
        © Nya corp | All right not reserved
    </p>
</footer>
</body>